<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="author" content="bStudio, Ibrahim Kwaku Duah, Kwaku Duah" />
    <meta name="keywords" content="bStudio, Teaching Assistant" />
    <meta name="generator" content="Visual Studio, AspNetCore, ng5~, Angular 5~, Ionic" />
    <meta name="application-name" content="Teaching Assistant Ultimate" />
    <title>Teaching Assistant Ultimate</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
